:root {
  --primaryBlue: #2a2a72;
  --secondaryBlue: #009ffd;
  --nearWhite: #f5f5f5;
  --bgDark: #232528;
  --bgYellow: #ffa400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: var(--nearWhite);
}

.main-title {
  font-family: "Lora", serif;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 700;
}

.text-price,
.text-weight {
  font-weight: 700;
}

.text-title {
  font-weight: 500;
  font-size: 1.1rem;
}

.text-blue {
  color: var(--primaryBlue);
}

.text-secondary {
  color: var(--secondaryBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 1rem !important;
  color: var(--bgDark);
  border-radius: none;
  border: 2.5px solid var(--bgDark);
}

.btn-black:hover {
  background-color: var(--bgDark) !important;
  color: var(--nearWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--bgYellow);
}
